/* Generics */
body {
  height: 100vh;
  background: linear-gradient(to bottom, #009688 15%, #DADBD4 15%, #DADBD4 100%);
  padding: 10px 0;
}

section {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}

section > div{
  flex-shrink: 0;
}

/* #Main */
#root {
  width: 100%;
  height: 100%;
  display: flex;
}

/* #Section contacts */
#contacts {
  flex-basis: 450px;
  background-color: darkslateblue;
}

/* User Menu */
.user-menu {
  height: 70px;
  background-color: #d1d1d1;
}

/* receive notific */
.receive-notific {
  height: 80px;
  background-color: #8EDAFB;
}

/* search bar */
.search-bar {
  height: 40px;
  background-color: #d1d1d1;
}

/* contact chat */
.contact-chat {
  height: calc(100% - 190px);
  background-color: white;
  overflow-y: auto;
}

/* #Section chat */
#chat {
  flex-basis: calc(100% - 450px);
  background-color: darkcyan;
}

/* contact menu */
.contact-menu {
  height: 70px;
  background-color: #d1d1d1;
}

/* chat area */
.chat-area {
  height: calc(100% - 140px);
  background-image: url(../img/mine.jpg);
  overflow-y: scroll;
}

/* input chat */
.input-chat {
  height: 70px;
  background-color: #F3EEE9;
}