/* Generics */
body {
  height: 100vh;
  background: linear-gradient(to bottom, #009688 15%, #DADBD4 15%, #DADBD4 100%);
  padding: 10px 0;
}

img {
  max-width: 100%;
  height: 100%;
  border-radius: 50%;
}

section {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}

section > div{
  flex-shrink: 0;
}

/* #Main */
#root {
  width: 100%;
  height: 100%;
  display: flex;
  box-shadow: 1px 1px 1px 1px rgba(147, 147, 147, 0.351);
}

/* #Section contacts */
#contacts {
  flex-basis: 450px;
  background-color: darkslateblue;
  border-right: 1px solid rgba(211, 211, 211, 0.748);
}

/* user menu */
.user-menu {
  height: 70px;
  background-color: #EAEAEA;
  display: flex;
  justify-content: space-between;
  padding: 5px 10px;
}

.user-menu .user-options {
  display: flex;
  align-items: center;
}

.user-menu .user-options > i {
  font-size: 23px;
  margin-right: 15px;
  color: #B1B1B1;
}

/* receive notific */
.receive-notific {
  height: 80px;
  padding: 15px 20px;
  background-color: #8EDAFB;
  display: flex;
}

.receive-notific > div{
  height: 100%;
  display: flex;
  align-items: center;
}

.receive-notific .bell {
  background-color: white;
  justify-content: center;
  border-radius: 50%;
  width: 50px;
  margin-right: 15px;
}

.receive-notific .bell i {
  font-size: 20px;
  color: #8EDAFB;
}

/* search bar */
.search-bar {
  height: 40px;
  background-color: #EAEAEA;
  padding: 5px;
}

/* contact chat */
.contact-chat {
  height: calc(100% - 190px);
  background-color: white;
  overflow-y: auto;
}

.contact-chat ul li {
  height: 85px;
}

/* #Section chat */
#chat {
  flex-basis: calc(100% - 450px);
  background-color: darkcyan;
}

/* contact menu */
.contact-menu {
  height: 70px;
  background-color: #EAEAEA;
}

/* chat area */
.chat-area {
  height: calc(100% - 140px);
  background-image: url(../img/mine.jpg);
  overflow-y: scroll;
}

/* input chat */
.input-chat {
  height: 70px;
  background-color: #F3EEE9;
}