<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- bootstrap -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  <!-- FontAwesome Icon -->
  <script src="https://kit.fontawesome.com/7ff5ce46be.js" crossorigin="anonymous"></script>
  <!-- Style -->
  <link rel="stylesheet" href="css/style.css">
  <!-- VueJS -->
  <script src="https://cdn.jsdelivr.net/npm/vue@2.7.4/dist/vue.js"></script>
  <title>Document</title>
</head>
<body class="container">
  <main id="root">
    <!-- #Section contacts -->
    <section id="contacts" v-if="!currentNameIndex || windowScreen > 998">
      <!-- user menu -->
      <div class="user-menu">
        <div class="user">
          <img :src="`img/avatar${user.avatar}.jpg`" :alt="user.name">
          <span>{{ user.name }}</span>
        </div>
        <div class="user-options">
          <i class="fa-solid fa-circle-notch"></i>
          <i class="fa-solid fa-message"></i>
          <i class="fa-solid fa-ellipsis-vertical"></i>
        </div>
      </div>
      <!-- receive notific -->
      <div class="receive-notific">
        <div class="bell">
          <i class="fa-solid fa-bell-slash"></i>
        </div>
        <div>
          <div>
            <p class="my-0">Ricevi notifiche di nuovi messaggi</p>
            <a href="#">Attiva notifiche desktop</a>
          </div>
        </div>
      </div>
      <!-- search bar -->
      <div class="search-bar">
        <form class="d-flex h-100" role="search">
          <button class="btn btn-outline-success d-flex align-items-center"><i class="fa-solid fa-magnifying-glass"></i></button>
          <input class="form-control me-2" type="search" v-model="searchContact" placeholder="Search">
        </form>
      </div>
      <!-- contact-chat -->
      <div class="contact-list">
        <ul class="list-group">
          <li v-for="contact in getContactsSearch" @click="currentNameIndex = contact.name" class="list-group-item d-flex" :class="{active : contact.name === currentNameIndex}" role="button">
            <img :src="`img/avatar${contact.avatar}.jpg`" alt="contact.name">
            <div class="ms-3">
              <span>{{ contact.name }}</span>
              <p class="last-message"> {{ getLastMessage(contact) }} </p>
              <p class="last-access"> {{ getLastAccess(contact) }} </p>
            </div>
          </li>
        </ul>
      </div>
    </section>

    <!-- #Section chat -->
    <section v-if="currentNameIndex" id="chat">
      <!-- contact menu -->
      <div class="contact-menu">
        <div v-for="(contact, i) in contacts" v-if="contact.name === currentNameIndex" class="contact-detail">
          <img :src="`img/avatar${contact.avatar}.jpg`" :alt="contact.name">
          <div class="d-inline-block">
            <span>{{ contact.name }}</span>
            <p class="last-access">Ultimo accesso oggi alle {{ getLastAccess(contact) }}</p>
          </div>
        </div>
        <div class="chat-menu">
          <i @click="toggleSearchBar" class="fa-solid fa-magnifying-glass"></i>
          <input v-show="searchBarActive" v-model="searchMessage" class="form-control me-2" type="search" v-model="textSearch" placeholder="Search">
          <i class="fa-solid fa-paperclip"></i>
          <i @click="currentNameIndex = ''" class="fa-solid fa-arrow-right-to-bracket"></i>
          <i @click="toggle3DotMenu" class="fa-solid fa-ellipsis-vertical"></i>
        </div>
        <div v-show="menu3DotActive" class="chat-options">
          <div @click="deleteChat" class="delete-chat">Svuota chat</div>
        </div>
      </div>
      <!-- chat area -->
      <div v-for="(contact, i) in contacts" v-if="contact.name === currentNameIndex" class="chat-area">
        <div v-for="(mex, index) in contact.messages" class="message" :class="[{ sent: mex.status === 'sent'},{'received': mex.status === 'received'}]">
          <i @click="toggleIsActive(mex)" class="fa-solid fa-sort-down"></i>
          <div v-show="mex.isActive" class="message-options">
            <div @click="deleteMex(contact, index)" class="message-delete">Cancella messaggio</div>
            <div class="message-info">Info messaggio</div>
          </div>
          <span class="text-message">{{ mex.text }}</span>
          <p class="date">{{ mex.date }}</p>
        </div>
      </div>
      <!-- input chat -->
      <div class="input-chat">
        <i class="fa-regular fa-face-smile"></i>
        <input type="text" class="form-control" v-model="currentTextMessage" @keyup.enter="sendAndReceiveMessage" placeholder="Scrivi un messaggio">
        <i v-if="!currentTextMessage" class="fa-solid fa-microphone"></i>
        <i v-if="currentTextMessage" @click="sendAndReceiveMessage" class="fa-solid fa-paper-plane"></i>
      </div>
    </section>
    <div v-if="!currentNameIndex" class="desktop-chat">
      <img src="img/schermata-whattsapp.png" alt="">
    </div>
  </main>
  <script src="js/script.js"></script>
</body>
</html>